#logo{
  height: 75%;
  width: auto;
}

#jumbotron{
  width: 100%;
  max-height: 400px;
  min-height: 300px;
  background-image: url("/img/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.lightText{
  font-size: 0.75rem;
  color: white;
}

.btnLoad{
  background-color: rgb(56,	128,	241);
  color: white;
  border: 0;
  width: 10rem;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.5rem 0rem;
}

.btnSignUp{
  background-color: rgb(48,	48,	48);
  color: white;
  border: 0.125rem solid;
  border-color: rgb(56,	128,	241);
  width: 10rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75rem 0rem;
}

.containerArticle{
  position: relative;
}

.containerArticleLabel{
  position: absolute;
  background-color: rgb(56,	128,	241);
  font-weight: bolder;
  color: white;
  left: 0;
  top: 0;
  transform: translateY(-50%);
}

.containerBgDark{
  background-color: rgb(28,	28,	28);
}

.containerBgBlue{
  background-color: rgb(56,	128,	241);
}

.containerBgFooter{
  background-image: url("/img/footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  overflow: hidden;  /* mi consente di nascondere il logo che sborda */
}

.containerBgFooter2{
  background-color: rgb(48,	48,	48);
}

.footerLogo{
  position: absolute;
  height: 150%;
  right: 0;
  transform: translateY(-20%);
}