.navbar{
  height: 5rem;
}

.link {
  color: rgb(71	72	73);
  position: relative;
}

.link::after {                          /*crea un pseudo elemento che e il figlio dell elemento selezionato*/
  content: "";       
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;                 
  background-color: #0282f9;   
  transform: scaleX(0);                 /*schiaccia la linea portandola a 0 sull asse x*/
  transition: transform 0.25s ease;     /*cosa va ad animare, quanto dura l animazione, come accellera durante l animazione*/
}

.link:hover{
  color: rgb(55,122,228);
}

.link:hover::after{
  transform: scaleX(1);                 /*porta la linea al 100% sull asse x*/
}

.linkActive {
  color: rgb(55, 122, 228);
}

.linkActive::after {
  transform: scaleX(1);
}